@use "../abstracts/variables" as color;

[data-theme="light"] {
  --primary-color: #{color.$primary-color};
  --text-gray: #{color.$text-gray};
  --text: #{color.$text};
  --selected-text-gray: #{color.$selected-text-gray};
  --button-action-color: #{color.$button-action-color};
  --button-abort-color: #{color.$button-abort-color};
  --secondary-color: #{color.$secondary-color};
  --accent-color: #{color.$accent-color};
  --lite-gray-40: #{color.$lite-gray-40};
  --lite-gray-80: #{color.$lite-gray-80};
  --border-color: #{color.$border-color};
  --border-color-20: #{color.$border-color-20};
  --highlight-light-color: #{color.$highlight-light-color};
  --button-hover-color: #{color.$button-hover-color};

  //shadow variables
  --shadow-main: #{color.$shadow-main};
  
  //icon colors
  --icon-idle-color: #{color.$icon-idle-color};
  
}

[data-theme="dark"] {
  --primary-color: #{color.$primary-color};
  --text-gray: #{color.$text-gray};
  --selected-text-gray: #{color.$selected-text-gray};
  --button-action-color: #{color.$button-action-color};
  --button-abort-color: #{color.$button-abort-color};
  --secondary-color: #{color.$secondary-color};
  --accent-color: #{color.$accent-color};
  --lite-gray-40: #{color.$lite-gray-40};
  --lite-gray-80: #{color.$lite-gray-80};
  --border-color: #{color.$border-color};
  --border-color-20: #{color.$border-color-20};
  --highlight-light-color: #{color.$highlight-light-color};

  //shadow variables
  --shadow-main: #{color.$shadow-main};
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root-over {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}